# System files
*.log
.DS_Store*
.idea/
report.*.json

# Source and dev files
node_modules/
src/
demo/
playground/
test/
webpack/
.github/

# Config files
Makefile
jest.config.js
tsconfig.json
tailwind.config.js
.babelrc
.travis.yml
.eslintrc.js
.eslintignore
.versionrc.json

# Keep README
!README.md
